<!DOCTYPE html>
<html>
  <head>
    <title>Annonce List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Annonce List</h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < annoncelist.length; i++) {
          list += '<li>' + annoncelist[i].username +'    '+ userlist[i].email + '</a></li>';
        }
      %>
      <%- list %>
    </ul>
  </body>
</html>