<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <ul>
  
            <button type="button" href="/views/addAnn.ejs" class="btn btn-outline-success" >crée un post</button>
    </ul>
  </body>
</html>