<!DOCTYPE html>
<html>
  <head>
    <title>User </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <h1>Profil : <%= u_id %> </h1>
    <ul>
      <%= u_name %> <%= u_email %> <%= u_typecompte %>
    </ul>
  </body>
</html>