    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="aaaa.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= result.titre %></h5>
        <p class="card-text"><%= result.user.us_name %></p>
    </div> 
  </div><br>
</ul>