<!DOCTYPE html>
<html>
  <head>
    <title>Acceuil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div>
      <button>Connexion</button>
      <button>Inscription</button>
    </div>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello, Bienvenue sur notre site !</p>
  </body>
</html>
