<table class="table table-bordered" name="tableName">
        <tr>
            <th>Objet</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
        <% result.forEach(function (result) { %> 
        <tr>
            <td><%= result.objetmsg %></td>
            <td><%= result.question %></td>
            <td>
                    <a href="/msgan/<%= result.annonce_id %>" role="button">Voir l'annonce</a>
                    <a href="/resptoclient/<%= result._id %>" role="button">response</a>
            </td>
            <% }); %>
        </tr>
    </table>