<table class="table table-bordered" name="tableName">
        <tr>
            <th>Objet</th>
            <th>Message</th>
            <th></th>
        </tr>
        <% result.forEach(function (result) { %> 
        <tr>
            <td><%= result.objet_msg %></td>
            <td><%= result.question %></td>
            <% }); %>
        </tr>
    </table>