<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
        <div class="alert alert-info" role="alert">
                    <h1><strong>Ma messagerie</strong></h1>
        </div>
    <!-- ----------------------------------------------------------- -->
      <table class="table table-bordered" name="tableName">
          <tr>
              <th>Objet</th>
              <th>Message</th>
              <th>Action</th>
          </tr>
          <% result.forEach(function (ann) { %> 
          <tr>
              <td><%= ann.objetmsg %></td>
              <td><%= ann.question %></td>
              <td>
                  <a href="/resptoclient/<%= ann._id %>" class="btn btn-primary" role="button">Reponse</a>
                  <a href="/msgan/<%= ann.annonce_id %>" class="btn btn-info" role="button">Annonce</a>
              </td>
              <% }); %>
          </tr>
      </table>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>