<!DOCTYPE html>
<html>
  <head>
    <title>Modifier annonce </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <div class="center">	
                <div class="row">
                <h2><strong>Insertion d'annonce </strong> <br/></h2><br/>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Start form -->
                    <h1><%= annonce._id %></h1>
                                  
                    <!-- End form -->
                  </div>
                </div>
              </div>
  </body>
</html>