<!DOCTYPE html>
<html>
  <head>
    <title>Créer un compte </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form id="formAddUser" name="adduser" method="post" action="/signup">
      <input id="inputName" type="text" placeholder="username" name="name" />
      <input id="inputEmail" type="text" placeholder="useremail" name="email" />
      <input id="inputPasswrd" type="password" placeholder="password" name="password" />
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>
