<!DOCTYPE html>
<html>
  <head>
    <title>Inscription </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form id="AddUser" name="signup" method="post" action="/signup">
      <input id="inputName" type="text" placeholder="username" name="name" />
      <input id="inputEmail" type="text" placeholder="useremail" name="email" />
      <input id="inputPasswrd" type="password" placeholder="password" name="password" />
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>
