<h1>annonce</h1><br>
    <% annonce.forEach(function (ann) { %> 
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title"><%= ann.titre %></h5>
      </div> 
    </div><br>
      <% }); %>
  </ul>